#header {
    background-color: blue;
    padding: 10px;
    border: 50px dashed darkmagenta;
}

#p_tag {
    background-color: darkcyan;
    padding: 50px;
}

#i_tag {
    background-color: darksalmon;
    padding: 25px;
}